// Colors
$background: #f2f2f3;
$foreground: #ffffff;
$text_primary: #1f1f22;
$text_secondary: #5f6066;
$primary: #1e1f26;

// Fluid fonts
$paragraph_tiny: clamp(0.69rem, -0.03vi + 0.7rem, 0.67rem);
$paragraph_small: clamp(0.78rem, 0.12vi + 0.75rem, 0.87rem);
$paragraph: clamp(0.88rem, 0.33vi + 0.79rem, 1.13rem);
$header_6: clamp(0.98rem, 0.64vi + 0.82rem, 1.46rem);
$header_5: clamp(1.11rem, 1.06vi + 0.84rem, 1.9rem);
$header_4: clamp(1.25rem, 1.63vi + 0.84rem, 2.47rem);
$header_3: clamp(1.4rem, 2.42vi + 0.8rem, 3.21rem);
$header_2: clamp(1.58rem, 3.47vi + 0.71rem, 4.18rem);
$header_1: clamp(1.77rem, 4.88vi + 0.56rem, 5.43rem);

// Fluid spacing
$small: clamp(1.13rem, calc(1.04rem + 0.41vw), 1.5rem);
$medium: clamp(1.69rem, calc(1.57rem + 0.61vw), 2.25rem);
$large: clamp(2.25rem, calc(2.09rem + 0.81vw), 3rem);

// Font size classes
.header_1 {
    font-size: $header_1;
}

.header_2 {
    font-size: $header_2;
}

.header_3 {
    font-size: $header_3;
}

.header_4 {
    font-size: $header_4;
}

.header_5 {
    font-size: $header_5;
}

.header_6 {
    font-size: $header_6;
}

.paragraph {
    font-size: $paragraph;
}

.paragraph_small {
    font-size: $paragraph_small;
}

.paragraph_tiny {
    font-size: $paragraph_tiny;
}

// Color classes
.background {
    color: $background;
}

.foreground {
    color: $foreground;
}

.text_primary {
    color: $text_primary;
}

.text_secondary {
    color: $text_secondary;
}

.primary {
    color: $primary;
}
