// Colors
$primary: #6526d1;
$secondary: #d02670;
$text_header: #161519;
$text_paragraph: #4a4553;
$background: #f0eff1;
$foreground: #ffffff;

// Fluid fonts
$paragraph_tiny: clamp(0.74rem, 0.08vi + 0.72rem, 0.8rem);
$paragraph_small: clamp(0.83rem, 0.22vi + 0.78rem, 1rem);
$paragraph: clamp(0.94rem, 0.42vi + 0.83rem, 1.25rem);
$header_6: clamp(1.05rem, 0.68vi + 0.89rem, 1.56rem);
$header_5: clamp(1.19rem, 1.02vi + 0.93rem, 1.95rem);
$header_4: clamp(1.33rem, 1.48vi + 0.97rem, 2.44rem);
$header_3: clamp(1.5rem, 2.07vi + 0.99rem, 3.05rem);
$header_2: clamp(1.69rem, 2.83vi + 0.98rem, 3.81rem);
$header_1: clamp(1.9rem, 3.82vi + 0.94rem, 4.77rem);

// Fluid spacing
$small: clamp(1.13rem, calc(1.04rem + 0.41vw), 1.5rem);
$medium: clamp(1.69rem, calc(1.57rem + 0.61vw), 2.25rem);
$large: clamp(2.25rem, calc(2.09rem + 0.81vw), 3rem);

// Root classes
:root {
    // Spacing classes
    --space-small: #{$small};
    --space-medium: #{$medium};
    --space-large: #{$large};

    // Color classes
    --color-primary: #{$primary};
    --color-secondary: #{$secondary};
    --color-text_header: #{$text_header};
    --color-text_paragraph: #{$text_paragraph};
    --color-background: #{$background};
    --color-foreground: #{$foreground};
}

// Font size classes
.header_1 {
    font-size: $header_1;
}

.header_2 {
    font-size: $header_2;
}

.header_3 {
    font-size: $header_3;
}

.header_4 {
    font-size: $header_4;
}

.header_5 {
    font-size: $header_5;
}

.header_6 {
    font-size: $header_6;
}

.paragraph {
    font-size: $paragraph;
}

.paragraph_small {
    font-size: $paragraph_small;
}

.paragraph_tiny {
    font-size: $paragraph_tiny;
}

// Color classes
.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.text_header {
    color: $text_header;
}

.text_paragraph {
    color: $text_paragraph;
}

.background {
    background-color: $background;
}

.foreground {
    background-color: $foreground;
}
