@use "./tokens" as *;

.card_container {
    position: absolute;
    left: $large;
    bottom: calc($large * 1);
    min-width: 640px;
    max-width: 40vw;
    max-height: 75svh;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #c7c5ca;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    padding: 0 calc($large * 0.5);
    overflow-y: auto;
    z-index: 40;

    &::before,
    &::after {
        content: "";
        position: sticky;
        display: block;
        left: 0;
        right: 0;
        height: calc($large * 0.5);
        pointer-events: none;
        z-index: 50;
    }

    &::before {
        top: 0;
        padding-top: calc($large * 0.5);
        background: linear-gradient(
            to bottom,
            $foreground 0 15%,
            transparent 100%
        );
    }

    &::after {
        bottom: 0;
        padding-bottom: calc($large * 0.5);
        background: linear-gradient(
            to top,
            $foreground 0 15%,
            transparent 100%
        );
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        left: $medium;
        bottom: $medium;
        min-width: 470px;
        max-width: 60vw;
        max-height: 65svh;
    }

    @media screen and (max-width: 767px) {
        left: $small;
        bottom: calc($small * 3.5);
        min-width: calc(100vw - $small * 3.5);
        max-height: 50svh;
    }
}
