@use "./tokens" as *;

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    position: absolute;
    padding: $large;
    gap: $large;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        grid-template-columns: repeat(8, 1fr);
        padding: $medium;
        gap: $medium;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(4, 1fr);
        padding: $small;
        gap: $small;
    }
}
