@use "./tokens" as *;
@use "./typography" as *;

/* Toast styles */
.toast_container {
    position: fixed;
    top: $small;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 100;
    pointer-events: none;
}

.toast_item {
    font-size: $paragraph_small;
    font-family: $paragraph_font;
    color: $foreground;
    background: #4a4553;
    border: 1px solid #161519;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: auto;
    min-width: 220px;
    gap: calc($small * 0.5);
    margin: calc($small * 0.25);
    padding: calc($small * 0.5) $small;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);

    &.toast_success {
        background: #28794c;
        border: 1px solid #0f5b30;
    }

    &.toast_error {
        background: #aa5039;
        border: 1px solid #802b15;
    }

    &.toast_close {
        cursor: pointer;
    }
}
